###> symfony/framework-bundle ###
/.idea
/.vscode
/nbproject
/.env.local
/.env.test
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/storage/
/var/storage/*
!/var/storage/.gitignore
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
